body.bg-image{
    background-image : url('../img/bg-img.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

}
.container{
    border-radius: 20px;
    width: 70%;
    height: 250px;
    margin: 50px auto;
    background: linear-gradient(35deg,#CCFFFF,#FFCCCC)
}