body.bg-image{
    background-image : url('../img/bg-img.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

}
.gradientBg{
    padding-left: 10px;
    color: white;
    border-radius: 10px;
    width: 70%;
    height: 100px;
    margin: 50px auto;
    background: linear-gradient(35deg,#160b52,#2f55d1,#3d68f5)
}
.contactUsForm{
   margin: 100px auto;
   width: 300px ;
}
.container{
   
    padding-left: 10px;
    color: white;
    border-radius: 10px;
    width: 70%;
    height: 100px;
    margin: 50px auto;
    background: linear-gradient(35deg,#160b52,#2f55d1,#3d68f5)
  /*  background: linear-gradient(35deg,#160b52,#2f51be)*/
}
footer{
    color:white;
}
