body.bg-image{
    background-image : url('../img/bg-img.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

}

.container{
    color: white;
    border-radius: 20px;
    width: 70%;
    height: 100px;
    margin: 50px auto;
    background: linear-gradient(35deg,#160b52,#2f51be,#2f55d1)
  /*  background: linear-gradient(35deg,#160b52,#2f51be)*/
}
h4.footerContent{
    color:white;
}
